{% extends 'common/base.html' %}
{% block content %}
<div class="border">
    <h3 class="bg-gray p-4">Login Now</h3>
      <h2>{{name}}</h2>
      <form method="post" action="{% url 'login' %}" style="margin: 25px;">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="d-block py-3 px-5 bg-primary text-white border-0 rounded font-weight-bold mt-3" type="submit">Login</button>
        <a class="mt-3 d-block  text-primary" href="#">Forget Password?</a>
        <a class="mt-3 d-inline-block text-primary" href="/signup">Register Now</a>
      </form>
</div>
{% endblock %}